.car-add-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: #114dbc;
    height: 100vh;
}

.car-add-form {
    width: 100%;
    
    max-width: 500px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.car-add-form .div{
    display: flex;
    justify-content: space-between;
}

.car-add-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width: 50%;
}


.form-group label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.div form-group input[type='text'],
div form-group input[type='number'],
.form-group input[type='PNG'] {
    width: 100%;
    height: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.car-add-button {
    width: 100%;
    padding: 10px;
    background-color: #114dbc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0%;
}

.car-add-button:hover {
    background-color: #e3e3e3;
    color: #114dbc;
}
