@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Honk&family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Honk&family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Rubik+Mono+One&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Honk&family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Rubik+Mono+One&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
.nav
{
    display: flex;
    background-color: black;
    /* position: fixed; */
    z-index: 10;
    color: black;
    width: 100%;
}
.nav p{
    font-family: Honk;
    font-size: 40px;
    margin: 10px ;
    text-decoration: none;
}
.na{
    font-size: 30px;
    margin: 10px ;
    font-family:Akronim;
    color: aliceblue;
    float:right;
}

.ol2
{
    padding-left: 0;
}
.ol
{
    display: flex;
    font-family: Silkscreen;
    color: aliceblue;
    justify-content: center;
	/* margin-top: 20px; */
    padding: 15px;

}
.ol a{
    color: #ffffff;
    float: right;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
}
.ol a:hover{
    
    background-color: aliceblue;
    color: #000;
    cursor: pointer;
    border-radius: 5px;

}


/* ------------------------------------------- */
.ok{
}
.ol2{
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 0;
    grid-column-end: 4;
    background-color: #2196F3;
    align-items: center;
    justify-content: center;
	align-items: center;
}
.head{
    font-weight: 700;
    font-family: Viga;
    color: #ffffff;
    background-color: #031a2d;
    font-size: 40px;
}
.card {
    margin: 8px;
    background-color: rgb(48, 43, 43);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 250px;
    position: relative;
}
.card:hover{
    background-color: rgb(80, 77, 77);
    color: aliceblue;

}
.card p{
    color: aliceblue;
    font-family:Arsenal SC ;
}
.card h3{
    color:#ffffff;
}


.save {
    background-color: #70C050;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.price {
    font-size: 2rem;
    color: #333;
}

img {
    width: 100%;
    margin: 10px 0;
}

.details p {
    margin: 5px 0;
}

.book-now {
    background-color: #70C050;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.book-now:hover {
    color: #5ea040;
    background-color: #ffffff;
}


