@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Honk&family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Honk&family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Rubik+Mono+One&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Honk&family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Rubik+Mono+One&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.main-content
{ padding: 40px 0px 0px 0px;}


.ol2{
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 0;
    grid-column-end: 4;
    background-color: #F5F5F5;
    background-color:rgb(251, 251, 252);
    align-items: center;
    justify-content: center;
	align-items: center;
}
.head{
    font-weight: 700;
    font-family:Source Code Pro;
    color: #ffffff;
    background-color: #062544;
    font-size: 40px;
    text-align: center;
}
.card12{
    margin: 10px;
   
    border-radius: 10px;
    background-color: #021526d6;
    box-shadow: 0 4px 8px rgba(179, 19, 19, 0.1);
    text-align: center;
    padding: 20px;
    width: 250px;
    position: relative;
}
.card12:hover{
    background-color: #03346E;
    color: aliceblue;
}
.card12 p{
    color: rgb(255, 255, 255);
    font-family:Source Code Pro;
}
.card12 h3{
    color:#ffffff;
    font-family:Source Code Pro;
}

.price {
    font-size: 2rem;
    color: #333;
}

img {
    width: 100%;
    margin: 10px 0;
}

.details p {
    margin: 5px 0;
}

.book-now {
    background-color: #03346E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin: 0%;
}

.book-now:hover {
    color: #03346E;
    background-color: #ffffff;
}


