/* WhySelfDrive.css */
.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

/* ----------------------------------- */
.features-container {
    text-align: center;
    padding: 20px;
    background-color: #2196F3;
}
.headi{
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #031a2d;
    font-size: 40px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-card {
    width: 20%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p {
    font-size: 14px;
    color: #555;
}

