.sidebar {
    width: 200px;
    height: 100%;
    background-color: #05164b;
    color: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; /* Ensure it starts from the top */
    left: 0; /* Ensure it sticks to the left */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000; /* Ensure it stays above the main content */
  }
  
  .sidebar h2 {
   font-family: Honk;
    /* margin-bottom: 20px; */
    font-size: 40px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
  }
  
  .sidebar ul li {
    margin: 10px 0;
    background-color:floralwhite ;
    border-radius: 10px;
    /* padding: 20px 20px; */
  }
  
  .sidebar ul li a {
    color: black;
    width: 30%;
    font-size: 25px;
    font-family: Silkscreen;
    text-decoration: none;
  }
  
  .sidebar ul li a.active-link {
    text-decoration: underline;
  }
  
  .sidebar ul li:hover {
    text-decoration:solid;
    /* color: rgb(253, 255, 255); */
    /* color: #ffffff; */
    background-color: black;
  }
  .sidebar ul li a:hover {
    text-decoration:solid;
    /* color: rgb(253, 255, 255); */
    color: #ffffff;
    background-color: black;
  }