@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Calistoga&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Calistoga&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Honk&family=Merienda:wght@300..900&family=Monoton&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Calistoga&family=Libre+Barcode+128+Text&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Calistoga&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended+Text&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
.di{
	display: flex;
	flex-direction: row;
}
.oppp{
	display: flex;
	background-color: #114dbc;
	
}
.kl1
{
	flex-direction: row;
	margin: 0% 0% 0% 15%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	min-height: 100vh;
}
.im1{
	width: 45%;
	height: 45%;
	border-radius: 10px;
}
.op11
{
	width: 160%;
	height: 40%;
	border-radius: 10px;
	padding: auto;
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
    border-radius: 20px;
}
.oplo
{
	justify-content: center;
}
label{
	
	color:rgb(0, 0, 0);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 20px;
	font-weight: bold;
	cursor: pointer;
    font-family:Oswald;
}
.hw{
    margin: 30px;
    transition: .5s ease-in-out;
    color:rgb(1, 1, 1);
    font-size: 2.4em;
    justify-content: center;
    display: flex;
	font-family:"Libre Barcode 128 Text";

}
input{
	width: 90%;
	height: 25px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 15px auto;
	padding: 8px;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family:Source Code Pro;
	
}
.signup button{
	margin-left: 20%;
}
button{
	width: 60%;
	height: 40px;
	color: #fff;
	background: #114dbc;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 15px;
}
button:hover{
	background: hsl(193, 81%, 52%);
}
.adm{
	text-decoration: none;
	cursor: pointer;
	margin: 20px;
}
.adm:hover{
	font-size: 20px;
	color: beige;
}

.pt{
    font-family:Source Code Pro;
	color: #060505;
	font-weight: 700;
	text-align: center;
}
.pt1{
	font-family:Source Code Pro;
	text-align: center;
	color: #1178ee;
	text-decoration: dotted;
	font-weight: 700;
	cursor: pointer;
}
.pt1 :hover{
	background-color:linear-gradient(to right,#5b9be4,#1178ee,#1141ee,#1111ee);
}


.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	height: 250px;
	width: 350px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pop img {
	height: 120px;
	width: 120px;
	/* top: -20%; */
    margin-bottom: 20px;
}

.pop h4 {
    margin-bottom: 20px;
}
/* ----------------------------------------------- */



/* login-sign.css */

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: '-50%';
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    outline: none;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba(0, 0, 0, 0.75)';
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 20px;
}
.modal-content h2{
	font-size: medium;
	/* font-family:Source Code Pro; */
}
.modal-content img{
	width:100px;
}
.pattu {
    display: flex;
    justify-content: center;
    margin-left: -30px;
}

.pattu button {
    font-family: Source Code Pro;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Adjust the width to fit the button content */
}


